//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 24 19:51:24 2014
//! **************************************************************************

SCHEMATIC START;
COMP "CA" LOCATE = SITE "L14" LEVEL 1;
COMP "CB" LOCATE = SITE "H12" LEVEL 1;
COMP "CC" LOCATE = SITE "N14" LEVEL 1;
COMP "CD" LOCATE = SITE "N11" LEVEL 1;
COMP "CE" LOCATE = SITE "P12" LEVEL 1;
COMP "CF" LOCATE = SITE "L13" LEVEL 1;
COMP "CG" LOCATE = SITE "M12" LEVEL 1;
COMP "AN0" LOCATE = SITE "F12" LEVEL 1;
COMP "AN1" LOCATE = SITE "J12" LEVEL 1;
COMP "AN2" LOCATE = SITE "M13" LEVEL 1;
COMP "AN3" LOCATE = SITE "K14" LEVEL 1;
COMP "CDP" LOCATE = SITE "N13" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "DATA_MOUSE" LOCATE = SITE "C3" LEVEL 1;
COMP "RESET" LOCATE = SITE "A7" LEVEL 1;
COMP "CLK_MOUSE" LOCATE = SITE "B1" LEVEL 1;
COMP "LEDs<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "LEDs<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "LEDs<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "LEDs<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "LEDs<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "LEDs<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "LEDs<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "LEDs<7>" LOCATE = SITE "G1" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

